<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<h1>About the Password Generator</h1>
<h3>This lovely password generator is brought to you by:</h3>

<strong>Name:</strong> alyms108<br>
<strong>Profession:</strong> programmer<br>
<strong>Github?:</strong> of course
<br>
<br>
<a href="{% url 'home' %}" class="btn btn-primary">Home</a>
